:root {
    /* ------- COLORS ------- */

    --color-violet: hsl(263, 55%, 52%);
    --color-violet-light: hsl(264, 82%, 70%);
    --color-black: hsl(219, 29%, 14%);
    --color-white: hsl(0, 0%, 100%);
    --color-gray: hsl(0, 0%, 81%);
    --color-gray-dark: hsl(217, 19%, 35%);
    --color-bg: hsl(210, 46%, 95%);
}

/* ------- BASIC ------- */

html {
    box-sizing: border-box;
    font-size: 16px;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

body {
    align-items: center;
    background-color: var(--color-bg);
    display: flex;
    font-weight: 400;
    font-size: 0.8125rem;
    font-family: 'Barlow Semi Condensed', 'Arial', 'Helvetica', sans-serif;
    justify-content: center;
    min-height: 100vh;
    line-height: 18px;
    overflow-x: hidden;
}

ol,
ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

a,
a:link,
a:visited,
a:active {
    text-decoration: none;
}

/* ------- TESTIMONIALS SECTION ------- */

.cards {
    width: 327px;
    margin: 4.4375rem 0;
    display: grid;
}

.cards__title {
    position: absolute;
    left: -2000px;
}

.card {
    border-radius: 0.5em;
    margin-top: 1.5rem;
    padding: 2rem;
}

.card__title {
    font-size: 1.25rem;
    line-height: 24px;
    margin-bottom: 1rem;
}

.card__header {
    display: flex;
    font-weight: 500;
    margin-bottom: 1.125rem;
}

.card__img {
    border-radius: 100%;
    height: 30px;
    margin-right: 1.0625rem;
    width: 30px;
}

.card__verified {
    font-size: 0.6875rem;
    opacity: 0.5;
}

.card__description {
    opacity: 0.7;
}

.card__img--violet {
    border: 2px solid var(--color-violet-light);
}

.card--violet {
    background: var(--color-violet) url(../images/bg-pattern-quotation.svg);
    background-position: top right 1.5rem;
    background-repeat: no-repeat;
    color: var(--color-white);
}

.card--black {
    background-color: var(--color-black);
    color: var(--color-white);
}

.card--gray {
    background-color: var(--color-gray-dark);
    color: var(--color-white);
}

.card--white {
    background-color: var(--color-white);
    box-shadow: 40px 60px 50px hsl(217, 19%, 35%, 24.75%);
    color: var(--color-gray-dark);
}

/* ------- DESKTOP ------- */

@media screen and (min-width: 1440px) {
    .cards {
        grid-template-columns: 1fr 1fr 255px 255px;
        grid-template-rows: 290px 266px;
        gap: 2rem;
        height: 572px;
        margin: 0 auto;
        width: 1110px;
    }

    .card {
        margin: 0;
    }

    .card--violet {
        background-position: top right 5rem;
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .card--black {
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-start: 2;
        grid-column-end: 4;
    }

    .card--gray {
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 3;
        grid-column-end: 4;
    }

    .card--white-one {
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-start: 1;
        grid-column-end: 2;
    }

    .card--white-two {
        grid-row-start: 1;
        grid-row-end: 3;
        grid-column-start: 4;
        grid-column-end: 5;
    }
}
